#sidenavContainer {
    /* background-color: rgba(158,158,158,0.2);     */
    padding-top: 25px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 5px;
    /* width: max-content;
    min-width: 11%;
    position: absolute;
    left: 0;
    height: 100%; */
    border-top-right-radius: 7px;
}
label {
    font-size: 12px;
    color: #0e464c;
}
#filterHead {
    font-family: 'Josefin Sans';
    font-size: 11px;
    color: #0e464c;
    background-color: #80b7b7;
    font-weight: 700;
    border-color: #80b7b7;
    padding: 10px;
    text-transform: uppercase;
}
#filterBody {
    background-color: #c3e1e1;
    padding-right: 35px;
}
#filterHeader {
    font-size: 15px;
    color: #0e464c;
    font-variant: small-caps;
}
@media only screen and (max-width: 700px) {
    #filter {
        width: min-content;
        height: 100%;
    }
    #sidenavContainer {
        padding-left: 15px;
        padding-right: 15px;        
    }
}
#automotive {
    color: red;
}
#childcare {
    color: purple;
}
#tools {
    color: grey;
}
#education {
    color: rgb(199, 199, 49);
}
#home {
    color: navy;
}
#yard {
    color: forestgreen;
}
#pet {
    color: saddlebrown;
}
#errands {
   color: black; 
}
#other {
    color: white;
}
#request {
    color: darkcyan;
}
#offer {
    color: darkred;
}