.heading {
    padding-bottom: 5%;
}
#profileContainer {
    min-height: 200px;
    background-color: whitesmoke;
    margin-top: 25px;
    position: absolute;
    left: 25%;   
    padding-bottom: 50px;  
    width: 50%;
}
#profilePage {
    min-height: 600px;
}
.body {
    background-color: darkslategray;
}
#imageRow {
    background-image: url("../images/checkerboard-cross.png");
    height: 50px;
}
.activityRow {
    margin-top: 15px;
    border-bottom: 10px solid rgb(248, 244, 244);
    padding-bottom: 15px;
}
.profileSubHeading {
    border-bottom: 1px solid rgb(216, 214, 214);
    padding-bottom: 5px;;
}
#mainContainer  {
    background-color: rgb(248, 244, 244); 
    min-height: 800px;
}
#pageContainer {    
    width: 70%;
    margin: 0px;
}
.nameRow {
    margin-bottom: 15px;
}
#homeContainer {
    background: #0e464c;
    padding-bottom: 50px;
    height: 100vh;
}

