#submit {
    background-color: rgb(155, 218, 196);
    border-color: rgb(155, 218, 196);
    color: rgb(131, 82, 49);
}
#submit:hover, #submit:active, #submit:visited, #submit:focus {
    background-color: rgb(133, 197, 175);
    border-color: rgb(133, 197, 175);
    color: rgb(131, 82, 49);
}