.App { 
    /* background-color: #bed9d9; */
   
}
.container {
    /* background-color: #bed9d9; */   
}
#postContainer {
    /* background-color: #bed9d9; */    
    margin-left: 0px;    
}
#myTable {
    margin-right: 50px;
}
.userName {
    font-family: "Segoe UI";
    color:#0e464c;
    font-size: 10pt;
    font-weight: bold;
}
p {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.btn-primary {
    font-family: "Segoe UI";
    font-size: 10pt;
    color:white!important;
    background-color: #0e464c;
    border: none;
    font-weight: 500;
    text-decoration: none; 
    letter-spacing: 2px;
}
#myPosts {
    /* background-color: #bed9d9; */
    padding-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 11%;
    padding-bottom: 70px;
    /* margin-bottom: 20%; */
}
#subject {
    font-weight: 500;
    font-size: larger;
    font-size: 20px;
}
#title {
    width: max-content;
}
.userName {
    width: fit-content;
}
.userComment {
    padding-left: 9%;
}
.commentBox {
    margin-bottom: 20px;
    padding: 13px;
}
#post {
    font-family: "Segoe UI";
    font-size: 12pt;
    color: white;
    background-color: #599c2b;
    border-color: #599c2b;
    margin-top: 10px;
    margin-left: -35px;
    font-weight: 600;
    letter-spacing: 2px;
}
#post:hover {
    background-color: #12a463;
    border-color: #12a463;
}
.button {
    color: white !important;
    font-size: 10pt;
    background-color: #0e464c !important;
    margin-bottom: 1px;
}
@media only screen and (max-device-width: 700px) {
    #myPosts {
        padding: 0%;
        margin: 0%;
        margin-left: 130px;
        padding-bottom: 20%;
        margin-top: 5%;
    }
}
#post {
    margin-left: 50%;
    margin-top: 3%;
    width: 25%;
}