#myTable {
    margin-right: 50px;
}
#myPosts {
    padding-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 11%;
    margin-bottom: 50%;
}
#title {
    font-weight: 500;
    font-size: larger;
}
.userName {
    width: fit-content;
}
.userComment {
    padding-left: 9%;
}
.commentBox {
    margin-bottom: 20px;
    padding: 13px;
}
.button {
    color: white !important;
    font-size: 10pt;
    background-color: #0e464c !important;
    margin-bottom: 1px;
}

@media only screen and (max-device-width: 700px) {
    #myPosts {
        padding: 0%;
        margin: 0%;
        margin-left: 130px;
        padding-bottom: 20%;
        margin-top: 5%;
    }
}
#post {
    margin-left: 50%;
    margin-top: 3%;
    width: 25%;
}