#myFooter {
    background-color: darkslategray;
    padding: 10px;
    font-size: 1em;    
}
.social {
    padding-right: 10px;  
    font-size: 2em;
}
#footerRow a, .name {
    color: whitesmoke!important;
}
.name {
    margin-bottom: 0px;
}