@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.nav-link{
    font-family: "Segoe UI";
    font-size: 10pt;
    color: white!important;
    background-color: #37adad;
    border: none;
    margin-right: 20px;
    font-weight: 500;
    text-decoration: none;    
}
.button:hover {
    background-color: rgb(155, 218, 196);
}
#signOut {
    font-family: "Segoe UI";
    background-color: #37adad;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 15px;
}
#signOut:hover {
    background-color: #12a463;
}
#myNavbar {
    background-color: #0e464c;
    padding-bottom: 20px;
}
#myLink {
    text-decoration: none;
    color: white;
}
#globe {
    color: #0e464c;
    padding-top: 15px;
    margin-left: 10px;
}
#myBrand {
    font-family: 'Josefin Sans';
    padding-bottom: 15px;
    padding-top: 21px;
    padding-left: 5.7em;
    background-image: url(favorlyHands-sm.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    letter-spacing: 8px;
    font-size: 16px;
}
#profileButton {
    font-size: 2em;
}
.menu {
    background-color: whitesmoke;
    padding: 15px;
    width: 15%;
    position: absolute;
    right: 0;
    z-index: 2;
    margin-top: -10px;
    margin-right: 40px;
}
.dropdownIcon {
    font-size: 1.5em;
    color: gray;
}
.dropdownRow {
    min-height: 40px;
    padding-bottom: 10px;
}